/* #02022A #060675 #0C0CF5 #030336 #0B0BDB*/


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');


body{
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

p{
    margin: 0;
}

.aling-center-page{
    padding: 10px 10vw;
}
.top{
    background-color: #02022A;
}

#logo{
    width: 50px;
    
}

#banner{
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
}

.sketchfab-embed-wrapper #Astro{
    width: 500px;
    height: 500px;
}

#info-title{
    text-align: center;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos{
    width: 200px;
}

#fact-boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    column-gap: 100px;
    
}

.fact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.fact-box p{
    text-align: center;
    margin-top: 10px;
}

#quote{
    height: 300px;
    background-color: #0B0BDB;
    display: flex;
    align-items: center;
    color: white;
    padding: 0px 50em;
}

#quote p{
    font-size: 24px;
}

footer{
    margin-top: 5em;
    background-color: #02022A;
    color: white;
    display: flex;
    justify-content: center;
}
#small-logo{
    width: 20px;
}
